config.stopBubbling=true
lombok.copyableAnnotations += org.facboy.lombok.NestedClassAndAnnotationNestedInImportedSibling$Other$OtherNested$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.NestedClassAndAnnotationNestedInNonImportedSibling$Other$OtherNested$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.NestedClassAndNestedAnnotation$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.NestedClassAndNestedAnnotationImported$Other$OtherNested$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.NestedClassAndNestedAnnotationWithConflictingNestedImport$Other$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.NestedClassAndNestedAnnotationWithOverridingImport$Other$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.NestedClassAndNestedAnnotationWithOverridingNestedAnnotationImport$Other$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.SimpleNestedAnnotation$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.SimpleNestedAnnotationWithConflictingImport$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.SimpleNestedAnnotationWithConflictingImport$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.TwiceNestedClassAndSiblingAnnotation$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.TwiceNestedClassAndSiblingAnnotation$Other$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.TwiceNestedClassAndUpperAnnotation$MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.other.MyQualifier
lombok.copyableAnnotations += org.facboy.lombok.other.Other$MyQualifier
